/*MOBILE LANDSCAPE*/
@media (min-width: 415px) and (max-width: 767px) {
  /*NAVIGATION*/
  /*NAVBAR-TRANSPARENT*/
  .navbar-transparent li > a {
    background: #444; }

  /*NAVBAR-TRANSPARENT END*/
  /*NAVIGATION END*/
  /*HEADER*/
  .header {
    width: 100%;
    height: auto; }
    .header h1 {
      font-size: 3em;
      padding-top: 2.5em; }
    .header p {
      font-size: 1.3em;
      padding-top: 1em; }

  /*HEADER END*/
  /*INFO*/
  .info .infos {
    margin-top: 1em;
    margin-bottom: 1em; }
    .info .infos p {
      padding-top: 1em;
      font-size: 2em; }
    .info .infos i {
      color: #000;
      font-size: .7em;
      position: relative; }
    .info .infos .left {
      right: 27em;
      top: 4.8em; }
    .info .infos .right {
      left: 25em;
      top: -5em; }

  /*INFO END*/
  /*INFO-BALAGTAS*/
  .info-balagtas i {
    font-size: 6em;
    padding-top: 1em; }
  .info-balagtas p {
    font-size: 2em; }

  /*INFO-BALAGTAS END*/
  /*CAROUSEL FRANCISCO BALTAZAR MUSEUM AND FESITVAL*/
  .carousel .carousel-caption h1 {
    font-size: 2.5em;
    margin-bottom: 1em; }
  .carousel .carousel-caption p {
    font-size: 1.5em;
    font-family: antic;
    margin-bottom: 1em; }
  .carousel .carousel-caption .btn-default {
    background: transparent;
    font-size: 1em;
    margin-bottom: 1em; }
  .carousel .carousel-caption a {
    font-family: poiret;
    color: #fff;
    text-decoration: none; }
  .carousel .carousel-caption .festival {
    background: transparent;
    font-size: 2em;
    padding-bottom: 0; }

  /*CAROUSEL FRANCISCO BALTAZAR MUSEUM AND FESITVAL END*/
  /*LOCALPRODUCT*/
  .localproduct .localproducts {
    margin-bottom: 2em;
	margin-top: 2em;	}
    .localproduct .localproducts img {
      margin-left: auto;
      margin-right: auto;
      display: block;
      width: 100%;
      height: auto; }
    .localproduct .localproducts h5 {
      font-size: 1em; }
    .localproduct .localproducts .localprice {
      margin-left: 0;
      width: 100%;
      height: 3em; }
      .localproduct .localproducts .localprice .text-right {
        position: inherit;
        padding-right: 10px;
        margin-top: -1.9em; }

  /*LOCALPRODUCT END*/
  /*ACCOMODATION*/
  .accomodation h1 {
    font-size: 2em;
    margin-top: 3em; }
  .accomodation .accomodations {
    margin-top: 5em; }
    .accomodation .accomodations p {
      font-size: 1em; }
    .accomodation .accomodations h2 {
      font-size: 1.5em;
      padding-top: 0; }
    .accomodation .accomodations i {
      padding-top: 1em;
      font-size: 1.3em;
      position: absolute; }
  .accomodation .accomodate {
    margin-bottom: 10em; }
    .accomodation .accomodate .prev,
    .accomodation .accomodate .next {
      position: absolute;
      margin-top: 0; }
    .accomodation .accomodate .next {
      margin-left: 10em; }
    .accomodation .accomodate .prev {
      margin-left: 8em; }

  /*ACCOMODATION END*/ }
/*MOBILE LANDSCAPE END*/