@font-face {
  font-family: antic;
  src: url("../../../fonts/Antic-Regular.ttf"); }
@font-face {
  font-family: arima;
  src: url("../../../fonts/ArimaMadurai-Regular.ttf"); }
@font-face {
  font-family: kaushan;
  src: url("../../../fonts/KaushanScript-Regular.otf"); }
@font-face {
  font-family: poiret;
  src: url("../../../fonts/PoiretOne-Regular.ttf"); }
/*HEADER*/
.header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../../img/views/balagtas/Balagtas-municipal-1.jpg) no-repeat center center;
  background-size: 100%;
  height: auto;
  text-align: center;
  margin-bottom: 0; }
  .header h1 {
    font-family: kaushan;
    font-size: 8em;
    margin: 0;
    padding-top: 2.5em;
    padding-bottom: 2.5em;;
    color: #fff; }

/*HEADER END*/
/*HISTORY*/
.history { background: #b2d0c6;}
  .history p {
    font-family: antic;
    font-size: 2em;
    padding-top: 2em;
    padding-bottom: 2em; }
  .history .btn-primary a{
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    font-family: antic; }
  .history .btn-primary {
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-bottom: 2em; }
/*HISTORY END*/
/*FOOTER*/
.footer {
  background: #53acab;
  text-align: center;
  color: #fff; }
  .footer h1 {
    font-family: poiret;
    margin-top: 3em; }
  .footer i {
    color: #000;
    font-size: 2em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em; }

/*FOOTER END*/
/*MOBILE*/
@media (max-width: 414px) {
  /*HEADER*/
  .header {
    height: 30vh; }
    .header h1 {
      font-size: 2em;
      padding-top: 2.5em; }

  /*HEADER END*/
  /*HISTORY*/
  .history p {
    font-size: 1.3em; }

  /*HISTORY END*/
}
/*MOBILE END*/
/*TABLET*/
@media (min-width: 768px) and (max-width: 1024px) {
  /*HEADER*/
  .header {
    height: auto; }
    .header h1 {
      font-size: 5em;
      padding-top: 2em;
    padding-bottom: 2em; }

  /*HEADER END*/
  /*HISTORY*/
  .history p {
    font-size: 2em; }

  /*HISTORY END*/
}
/*TABLET END*/
